<% provide(:title, "GAMES") %>
<% provide(:name, "GAMES") %>
<center>
<%= link_to "rubik's cube" , cube_path %><br>
<%= image_tag "Capture3.jpg" , class: " game " %><br><br>
<%= image_tag "Capture.jpg" , class: " game " %>
</center>

<script>
var ready;
ready = function() {

$(".game").click(function(){
	$("#myModal").modal('show');
}) ;
$(".close").click(function(){
	$('#m').popover('hide');
});
};
$(document).ready(ready);
$(document).on('page:load', ready);
</script>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  
      <div class="modal-body">
      	 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= render :template =>'/game/platformer' %>
      </div>
</div>