<% provide(:title, "Home") %>
 
<body style="background:url('/assets/cat.jpg'); ">

<% if !user_signed_in? %>
 <div class="center jumbotron"  >
  <h1 style="color:white;">Welcome to my world! <br></h1>

<h4 style="color:white;">Hola ! <br>Whatcha waiting for ? </h4> 

<%= link_to "Sign up now", new_user_registration_path, class: "btn btn-lg btn-default sign_up" , style: 'border-radius:20px; background:rgba(0,0,0,0);color:white;'%> 
 <%= link_to "Log in now",new_user_session_path,class: "btn btn-lg btn-default log_in" , style: 'border-radius:20px; background:rgba(0,0,0,0);color:white;' %>
 </div>	
 <% end %>


